@inherits LayoutComponentBase
@using SteamAPI;
@using IO;
@using SmurfPredictor;
@using System.Diagnostics;

<div class="container">
    <div class="homepage">
        <h1>Steam Player Investigation System</h1>
        <h2>Enter a Steam URL</h2>
        <div class="row">
            <input type="text" @bind="@steamURL" placeholder="Player's URL">
            <button @onclick="CheckUser"><img src="images/image.png"></button>
        </div>
    </div>


    @* <div class="loading">
        <h2>@playerName</h2>
        <ul>
            <h4></h4>
        </ul>

         <div class="progress_bar_container">
            <div class="bar">
            </div>
        </div>
        <!--Create loading bar potentially-->
        <!--once loaded button appears to move on-->
        <button onclick="endScreen()">Finished</button>
    </div>  *@
   

    <div class="finalpage">
        <h1>Rating</h1>
        <h2>@playerName</h2>
        <h4>Percentage Chance of Smurf: </h4>
        <ul>
            <li>Number of Games: </li>
            <li>VAC Bans: </li>
            <li>Hours Played: </li>
            <li>Active for: </li>
        </ul>
        
    </div>
</div>


@code
{
    // Initialisation
    string steamURL;
    string playerName = "";
    Process backend;

    private void Initialise()
    {
        FileOperations.GetPath();
        FileOperations.LoadConfigFile();
        SteamWeb.API_Key = FileOperations.loaded_config.key;

    }

    private void CheckUser()
    {
        if (backend == null)
        {
            backend = Process.Start(FileOperations.path + "/WebHelper");
        }
        User user = new User();

        // First get username
        SteamXML.GetUserDetails(user, steamURL);
        playerName = user.GetSteamID();

    }



    protected override void OnInitialized()
    {
        Initialise();
        base.OnInitialized();
    }
}