* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Console',sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0158FB, #b15bff);
    padding: 10px;
}

.homepage {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 40px;
    border-radius: 10px;
}
    .homepage button img{
        width:30px;
        height: 30px;
    }
.logo{
    float: right;
    margin-top: -80px;
    width: 50px;
    height: 50px;
}

h1 {
    color: #b15bff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    color: #0158FB;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
h4 {
    color: #0158FB;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.finalpage {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 40px;
    border-radius: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #b15bff;
    color: #c8c8c8;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #b15bff;
}


