@page "/counter"
@using IO;

<h1>Show me the API key!</h1>

<p role="status">Here it is: @api_key</p>

<button class="btn btn-primary" @onclick="ChangeAPIKey">Click me</button>

@code
{
    public string api_key = "No API key found";

    private void Initialise()
    {
        FileOperations.GetPath();
        FileOperations.LoadConfigFile();
    }

    private void ChangeAPIKey()
    {
        api_key = FileOperations.loaded_config.key;
    }

    protected override void OnInitialized()
    {
        Initialise();
        base.OnInitialized();
    }
}
