@page "/"

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Steam Player Ivestigation</title>
    <link rel="stylesheet" href="webpage.css">
</head>
<body>
    <div class="container">
        <div class="homepage">
            <h1>Steam Player Investigation System</h1>
            <h2>Enter a steam username to see if it could be a smurf account</h2>
            <div class="row">
                <input type="text" id="input-box" placeholder="Player's Username">
                <button onclick="findUser()">Find User</button>
            </div>
        </div>


        <div class="loading">
            <h2>Player Name</h2>
            <h3><!--insert name here--></h3>
            <ul>
                <h4></h4>
            </ul>

            <div class="progress_bar_container">
                <div class="bar">
                </div>
            </div>
            <!--Create loading bar potentially-->
    
            <!--once loaded button appears to move on-->
            <button onclick="endScreen()">Finished</button>
        </div>

        <div class="finalpage">
            <h2>Rating</h2>
            <h1><!--insert rating here--></h1>
        </div>
    </div>
        
</body>